@model MyPets.Model.Shop
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line" style="text-align:center;">我的店铺</h1>
        <h1 class="page-subhead-line" style="text-align:center;">店铺信息</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4" style="overflow:hidden;">
        <img src="~/Content/Shop/upload/Store/Store1.jpg" style="width:100%;height:370px;"/>
    </div>
    <div class="col-md-4">
        <div style="font-size:22px;margin-top:5px;margin-bottom:36px;display:inline-block;width:80px;">店铺名:</div>@Model.ShopName<br />
        <div style="font-size:22px;margin-bottom:36px;display:inline-block;width:60px;">店主:</div>@Model.UserInfo.UserName<br />
        <div style="font-size:22px;margin-bottom:36px;display:inline-block;width:35px;">ID:</div>@Model.SellerIdCard<br />
        <div style="font-size:22px;margin-bottom:36px;display:inline-block;width:60px;">客服:</div>@Model.CustomerService<br />
        <div style="font-size:22px;margin-bottom:36px;display:inline-block;width:60px;">等级:</div>@Model.StarLevel<br />
        <div style="font-size:22px;display:inline-block;width:60px;">描述:</div>凡是注册我们网站的用户都可以免费开店，精心管理你的店铺吧！
</div>
    <div class="col-md-2"></div>
</div>

