@{
    ViewBag.Title = "订单";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<h2>店铺订单</h2>
<table class="table">
    <tr>
        <th>
           商品
        </th>
        <th>
           数量
        </th>
        <th>
           总价
        </th>
        <th>
           用户
        </th>
        <th>
           订单
        </th>
        <th></th>
    </tr>

@foreach (MyPets.Model.OrderDetail item in ViewData["order"] as List<MyPets.Model.OrderDetail>) {
    <tr>
        <td>
            @item.Goods.GoodsName
        </td>
        <td>
            @item.DetailSum
        </td>
        <td>
            @item.DetailCount
        </td>
        <td>
            @item.UserInfo.UserName
        </td>
        <td>
            @item.OrderNumber
        </td>
        <td>
            <div class="form-inline">
                <a href="@Url.Action("AcceptOrder",new {id=item.GoodsId})"><input type="button" class="btn btn-info" value="接受订单" /></a> <input type="button" class="btn btn-default" value="取消订单" />
            </div>
        </td>
    </tr>
}

</table>
<h2>订单配送</h2>
<table class="table">
    <tr>
        <th>
            商品
        </th>
        <th>
            数量
        </th>
        <th>
            总价
        </th>
        <th>
            用户
        </th>
        <th>
            订单
        </th>
        <th></th>
    </tr>

    @foreach (MyPets.Model.OrderDetail item in ViewData["deliver"] as List<MyPets.Model.OrderDetail>)
    {
        <tr>
            <td>
                @item.Goods.GoodsName
            </td>
            <td>
                @item.DetailSum
            </td>
            <td>
                @item.DetailCount
            </td>
            <td>
                @item.UserInfo.UserName
            </td>
            <td>
                @item.OrderNumber
            </td>
            <td>
                <div class="form-inline">
                    <input type="button" class="btn btn-info" value="发货" />
                </div>
            </td>
        </tr>
    }

</table>
