@using PagedList
@using PagedList.Mvc
@model IPagedList<MyPets.Model.BaikeQuestion>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>问答专区</title>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/StyleBar.css" rel="stylesheet" />
</head>
<body>
    <div class="row" style="border-bottom:1px solid #a5a0a0;line-height:50px;">
        <div class="col-md-1"></div>
        <div class="col-md-1">@Html.ActionLink("宠物之家", "Index", "Home")</div>
        <div class="col-md-1">@Html.ActionLink("宠物商城", "Index", "Shop")</div>
        <div class="col-md-1">@Html.ActionLink("宠物论坛", "Index", "Forum")</div>
        <div class="col-md-1" style="border-bottom:2px solid #9C3"><a href="javascript:;">宠物百科</a></div>
        <div class="col-md-5"></div>
        <div class="col-md-1">@Html.ActionLink("登录", "Login", "Register")|@Html.ActionLink("注册", "Register", "Register")</div>
        <div class="col-md-1"></div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <img src="~/Content/Shop/img/logo.png" />
        </div>
        @using (Html.BeginForm("SearchAnswer", "Baike", FormMethod.Post))
        {
            <div class="input-group col-md-5" style="width: 500px; margin-top: 20px; margin-right: 20%;">
                <div class="input-group">
                    <input type="text" class="form-control" name="txtBaikeTitle" placeholder="请输入文章/词条/关键字" style="border-color:#ff0000;height:46px;">
                    <span class="input-group-btn">
                        <input class="btn btn-danger btn-lg" type="submit" value="搜索">
                    </span>
                </div>
            </div>
        }
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="index_top">
        <div class="row part2">
            <div class="col-md-1"></div>
            <div class="col-md-1">@Html.ActionLink("首页", "Index")</div>
            <div class="col-md-1">@Html.ActionLink("狗狗", "ShowType", new { txttype = "狗" }) </div>
            <div class="col-md-1">@Html.ActionLink("猫咪", "ShowType", new { txttype = "猫" })</div>
            <div class="col-md-1">@Html.ActionLink("小宠", "ShowType", new { txttype = "小宠" })</div>
            <div class="col-md-1">@Html.ActionLink("水族", "ShowType", new { txttype = "水" })</div>
            <div class="col-md-1">@Html.ActionLink("问答", "Answer")</div>
            <div class="col-md-5"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">@Html.ActionLink("首页","Index")>问答专区</div>
        <div class="col-md-9"></div>
    </div>
    <hr />
    <div class="row" style="height:45px;line-height:45px;">
        <div class="col-md-1"></div>
        <div class="col-md-8"><h2>问答专区</h2></div>
        <div class="col-md-3">
            <a href="@Url.Action("Quiz")"><h3><img src="~/Content/Baike/img/questions_32px_42541_easyicon.net.png" />&nbsp;我要提问</h3></a></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h3>@Html.ActionLink("全部","Answer",new { type = 1 }) | @Html.ActionLink("精华","Answer",new { type=2})</h3></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-hover">
                @foreach(var b in Model)
                {
                  <tr class="row">
                    <td class="col-sm-9" style="line-height:24px;"><img src="~/Content/Baike/img/article_24px_26483_easyicon.net.png" />@Html.ActionLink(b.QuestionTitle,"ShowQuiz",new { @id=b.QuestionId})</td> 
                    <td class="col-sm-3">提问于 | @Html.DisplayFor(item=>b.QuestionTime)</td> 
                 </tr>
                }
            </table>
            <div style="text-align:center;"> @Html.PagedListPager(Model, page => Url.Action("Answer", "Baike", new { page,type= @ViewBag.type }))</div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
</html>
