@{
    Layout = null;
}
@model IEnumerable<MyPets.Model.Baike>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Baike/css/style.css" rel="stylesheet" />
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Baike/css/SlideStyle.css" rel="stylesheet" />
    <style>
        /*************菜单栏*************/
        .index_top {
            height: 50px;
            background: #EE5533;
            color: white;
            font-size: 18px;
        }

            .index_top a {
                height: 50px;
                color: white;
                line-height: 50px;
                margin: 0 auto;
                padding: 0 17px;
                text-align: center;
                text-decoration: none;
                display: block;
                float: left;
            }

            .index_top .part2 a:hover {
                background: #7B0;
            }

        .index_top {
            background: #9C3;
        }

        p {
            line-height: 16px;
        }

        h4 {
            font-size: 20px;
            font-weight: bold;
        }

        .dog_tit {
            border-bottom: 3px solid #9C3;
            position: relative;
            height: 54px;
        }

        .dog_tit_r {
            font: 16px/44px "Microsoft YaHei";
            color: #999;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .dog_tit h2 {
            font: 24px/44px "Microsoft YaHei";
            color: #fff;
            width: 156px;
            height: 44px;
            background: #9C3;
            text-align: center;
            position: absolute;
            line-height: 44px;
            left: 37px;
            bottom: 0;
        }
    </style>
</head>
<body>
    <div class="row" style="border-bottom:1px solid #a5a0a0;line-height:50px;">
        <div class="col-md-1"></div>
        <div class="col-md-1">@Html.ActionLink("宠物之家", "Index", "Home")</div>
        <div class="col-md-1">@Html.ActionLink("宠物商城", "Index", "Shop")</div>
        <div class="col-md-1">@Html.ActionLink("宠物论坛", "Index", "Tribune")</div>
        <div class="col-md-1" style="border-bottom:2px solid #9C3"><a href="javascript:;">宠物百科</a></div>  
        <div class="col-md-4"></div>
        <div class="col-md-2">
        @if (Session["UserName"] == null)
        {
            <div><a href="@Url.Action("Login", "Register")">登录</a> | <a href="@Url.Action("Register", "Register")">注册</a></div>
        }
        else
        {
            <div class="dropdown">
                <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <a href="javascript:;" style="color:#9C3;">@Session["UserName"]</a>
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="@Url.Action("Index","PersonalCenter",new { user=Session["UserName"]})">个人中心</a></li>
                    <li><a href="@Url.Action("LoginOff")">退出登录</a></li>
                </ul>
            </div>
        }
        </div>
        <div class="col-md-1"></div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <img src="~/Content/Shop/img/logo.png" />
        </div>
        @using (Html.BeginForm("Search", "Baike", FormMethod.Post))
        {
            <div class="input-group col-md-5" style="width: 500px; margin-top: 20px; margin-right: 20%;">
                <div class="input-group">
                    <input type="text" class="form-control" name="txtBaikeTitle" placeholder="请输入文章/词条/关键字"  style="border-color:#ff0000;height:46px;">
                    <span class="input-group-btn">
                        <input class="btn btn-danger btn-lg" type="submit" value="搜索">
                    </span>
                </div>
            </div>
        }
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="index_top">
        <div class="row part2">
            <div class="col-md-1"></div>
            <div class="col-md-1">@Html.ActionLink("首页", "Index")</div>
            <div class="col-md-1">@Html.ActionLink("狗狗", "ShowType", new { txttype = "狗" }) </div>
            <div class="col-md-1">@Html.ActionLink("猫咪", "ShowType", new { txttype = "猫" })</div>
            <div class="col-md-1">@Html.ActionLink("小宠", "ShowType", new { txttype = "小宠" })</div>
            <div class="col-md-1">@Html.ActionLink("水族", "ShowType", new { txttype = "水" })</div>
            <div class="col-md-1">@Html.ActionLink("问答", "Answer")</div>
            <div class="col-md-5"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="pgmiddle">
                <div id="example">
                    <div id="ribbon_1"></div>
                    <div id="ribbon_2"></div>
                    <div id="slides">
                        @{ int count = 0;}
                        @foreach (MyPets.Model.BaikeActivity baike in ViewData["active"] as List<MyPets.Model.BaikeActivity>)
                        {
                            if (count == 0)
                            {
                                <div class="scroimg" style="left:0px;">
                                    <a href="@Url.Action("ShowAd",new { activeid=baike.ActivedId})"><img src="@Url.Content(baike.ActivedImg)" width="950" height="350" alt="img"></a>
                                </div>
                                <div class="scrotext" style="bottom:0px;">
                                    <h4><a href="@Url.Action("ShowAd",new { activeid = baike.ActivedId })">@baike.ActivedTitle</a></h4>
                                    <p>@baike.ActivedContent</p>
                                </div>
                            }
                            else
                            {
                                <div class="scroimg" style="left: -950px;">
                                    <a href="@Url.Action("ShowAd1")"><img width="950" height="350" alt="img" src="@Url.Content(baike.ActivedImg)"></a>
                                </div>
                                <div class="scrotext" style="bottom: -950px;">
                                    <h4><a href="@Url.Action("ShowAd4")">@baike.ActivedTitle</a></h4>
                                    <p>@baike.ActivedContent</p>
                                </div>
                            }
                            continue;
                        }
                        <div class="scroimg" style="left:-950px;">
                            <a href="@Url.Action("Answer")"><img width="950" height="350" alt="img" src="~/Content/Baike/img/ad5.jpg"></a>
                        </div>
                        <div class="scrotext" style="bottom: -950px;">
                            <h4><a href="@Url.Action("Answer")">第一期“波奇宠物”专家团在线问诊活动开始啦！</a></h4>
                            <p>养宠有疑惑？撩个专家压压惊吧！</p>
                        </div>
                    </div>
                    <span id="prev"></span>
                    <span id="next"></span>
                    <div id="pagination">
                        <span onclick="gopaly(0)" onfocus="this.blur();" class="current"></span>
                        <span onclick="gopaly(1)" onfocus="this.blur();"></span>
                        <span onclick="gopaly(2)" onfocus="this.blur();"></span>
                        <span onclick="gopaly(3)" onfocus="this.blur();"></span>
                        <span onclick="gopaly(4)" onfocus="this.blur();"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color:rgba(246, 244, 207, 0.90);">
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-3">
                    <img src="~/Content/Baike/img/petsicon2.jpg" width="64" height="64" class="img img-circle" />
                </div>
                <div class="col-sm-9">
                    <h4>@Html.ActionLink("宠物大全","ShowType",new { txttype = " " })</h4>
                    <p>在这里，我们用相知与它结缘</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <img src="~/Content/Baike/img/petsicon4.jpg" width="64" height="64" class="img img-circle" />
                </div>
                <div class="col-sm-9" style="margin-bottom:30px;">
                    <h4>@Html.ActionLink("宠物饲养", "ShowType", new { txttype = "养" })</h4>
                    <p>在这里，我们用安全伴它成长</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <img src="~/Content/Baike/img/petsicon1.jpg" width="64" height="64" class="img img-circle" />
                </div>
                <div class="col-sm-9">
                    <h4>@Html.ActionLink("宠物训练", "ShowType", new { txttype = "训练" })</h4>
                    <p>在这里，我们用鼓励伴它同行</p>
                </div>
            </div>
            <br />
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-3">
                    <img src="~/Content/Baike/img/petsicon3.jpg" width="64" height="64" class="img img-circle" />
                </div>
                <div class="col-sm-9">
                    <h4>@Html.ActionLink("宠物医疗", "ShowType", new { txttype = "医疗" })</h4>
                    <p>在这里，我们用呵护保它健康</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="dog_tit col-md-10">
            <h2>狗狗百科</h2>
            <div class="dog_tit_r">
                @Html.ActionLink("狗狗饲养", "ShowType", new { txttype = "狗狗饲养" })&nbsp;&nbsp;|&nbsp;&nbsp;
                @Html.ActionLink("狗狗训练", "ShowType", new { txttype = "狗狗训练" })&nbsp;&nbsp;|&nbsp;&nbsp;
                @Html.ActionLink("狗狗医疗", "ShowType", new { txttype = "狗狗医疗" })
            </div> 
        </div>
        <div class="col-md-1"></div>
    </div> @*狗百科*@
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div id="slide_x1" class="slide_x">
                <div class="box">
                    <ul class="list">
                        <li style="margin-right:-40px;">
                            <a href="@Url.Action("Show",new {id=109 })"><img src="@Url.Content("~/Content/Baike/img/upload/0a84764d969565bf.jpg")" width="300" height="350" style="margin-left:-40px;"></a>
                            <p style="margin-left:-40px;">
                                <strong>酶与益生菌对于狗狗有何作用</strong><br />
                                其实狗狗身体本身就会存在各式各样的酶，来帮助机体消化以及吸收营养。不过随着某些食物摄入量地减少，某些酶的活性就会变得越来...[@Html.ActionLink("详细", "Show", new { id = 109 })]
                            </p>
                        </li>  
                        <li>
                            <a href="@Url.Action("Show",new {id="109" })"><img src="@Url.Content("~/Content/Baike/img/upload/0beb1dcf24533d64.jpg")" width="300" height="350"></a>
                            <p>
                                <stong>犬体外寄生虫会诱发出哪些疾病</stong><br />
                                为狗狗做好驱虫工作不只是为了防止某些寄生虫对我们的健康造成影响，更主要的是因为寄生虫对于狗狗的危害来的更大，而且寄生虫不...[@Html.ActionLink("详细", "Show", new { id = 109 })]
                            </p>
                        </li>
                        <li>
                            <a href="@Url.Action("Show",new {id="109" })"><img src="@Url.Content("~/Content/Baike/img/upload/1-121116122217.jpg")" width="300" height="350"></a>
                            <p>
                                <strong>维生素过量对狗狗有何危害</strong><br />
                                维生素是维持狗狗生长发育以及正常生理的必要物质，合理地为狗狗补充维生素能够有效地增强狗狗的抵抗力，并在一定程度上防止狗狗...[@Html.ActionLink("详细", "Show", new { id = 109 })]
                            </p>
                        </li>
                        <li><a href="@Url.Action("Show",new {id=109 })"><img src="@Url.Content("~/Content/Baike/img/upload/1.jpg")" width="300" height="350"></a>
                            <p>
                                <strong>酶与益生菌对于狗狗有何作用</strong><br />
                                其实狗狗身体本身就会存在各式各样的酶，来帮助机体消化以及吸收营养。不过随着某些食物摄入量地减少，某些酶的活性就会变得越来...[@Html.ActionLink("详细", "Show", new { id = 109 })]
                            </p>
                         </li>
                        <li><a href="@Url.Action("Show",new {id="109" })"><img src="@Url.Content("~/Content/Baike/img/upload/1443514309-0.jpg")" width="300" height="350"></a>
                            <p>
                                <stong>犬体外寄生虫会诱发出哪些疾病</stong><br />
                                为狗狗做好驱虫工作不只是为了防止某些寄生虫对我们的健康造成影响，更主要的是因为寄生虫对于狗狗的危害来的更大，而且寄生虫不...[@Html.ActionLink("详细", "Show", new { id = 109 })] 
                            </p>
                        </li>
                    </ul>
                </div>
                <ul class="btn">
                    <li class="b_1 selected">1</li>
                    <li class="b_2">2</li>
                    <li class="b_3">3</li>
                    <li class="b_4">4</li>
                    <li class="b_5">5</li>
                </ul>
                <div class="plus"></div>
                <div class="minus"></div>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:-50px;">
            <div class="row" style="height:350px;">
                @foreach (MyPets.Model.Baike a in ViewData["dog"] as List<MyPets.Model.Baike>)
                {
                    <table class="col-md-6" style="height:100px;margin-bottom:20px;">
                        <tr>
                            <td><img src="@Url.Content(a.BaikeImg)" style="width:150px;height:100px;" alt="img" /></td>
                            <td>@Html.ActionLink(@a.BaikeTitle, "Show", new { id = a.BaikeId })</td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="col-md-2">
            @foreach (MyPets.Model.Baike a in ViewData["dogtitle"] as List<MyPets.Model.Baike>)
            {
                <div class="col-sm-12" style="height:58px;line-height:58px;color:#808080; font: 20px Microsoft YaHei;margin-left:50px;">@Html.ActionLink(@a.BaikeTitle, "Show", new { id = a.BaikeId })</div>
            }
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="dog_tit col-md-10">
            <h2>猫咪百科</h2>
            <div class="dog_tit_r">
                <a href="#" target="_blank">猫咪饲养</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank">猫咪训练</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank">猫咪医疗</a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>  @*猫百科*@
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div id="slide_x2" class="slide_x1">
                <div class="box">
                    <ul class="list">
                        <li style="margin-right:-40px;">
                            <a href="#"><img src="~/Content/Baike/img/upload/slideimg/catslide1.jpg" width="300" height="350" style="margin-left:-40px;"></a>
                            <p style="margin-left:-40px;">
                                <strong>酶与益生菌对于狗狗有何作用</strong><br />
                                其实狗狗身体本身就会存在各式各样的酶，来帮助机体消化以及吸收营养。不过随着某些食物摄入量地减少，某些酶的活性就会变得越来...[<a href="#" target="_blank">详细</a>]
                            </p>
                        </li>
                        <li>
                            <a href="#"><img src="~/Content/Baike/img/upload/slideimg/catslide2.jpg" width="300" height="350"></a>
                            <p>
                                <stong>犬体外寄生虫会诱发出哪些疾病</stong><br />
                                为狗狗做好驱虫工作不只是为了防止某些寄生虫对我们的健康造成影响，更主要的是因为寄生虫对于狗狗的危害来的更大，而且寄生虫不...[<a href="#" target="_blank">详细</a>]
                            </p>
                        </li>
                        <li>
                            <a href="#"><img src="~/Content/Baike/img/upload/slideimg/catslide3.jpg" width="300" height="350"></a>
                            <p>
                                <strong>维生素过量对狗狗有何危害</strong><br />
                                维生素是维持狗狗生长发育以及正常生理的必要物质，合理地为狗狗补充维生素能够有效地增强狗狗的抵抗力，并在一定程度上防止狗狗...[<a href="#" target="_blank">详细</a>]
                            </p>
                        </li>
                        <li><a href="#"><img src="~/Content/Baike/img/upload/slideimg/catslide4.jpg" width="300" height="350"></a><p>站长素材4</p></li>
                        <li><a href="#"><img src="~/Content/Baike/img/upload/slideimg/catslide5.jpg" width="300" height="350"></a><p>站长素材5</p></li>
                    </ul>
                </div>
                <ul class="btn">
                    <li class="b_1 selected">1</li>
                    <li class="b_2">2</li>
                    <li class="b_3">3</li>
                    <li class="b_4">4</li>
                    <li class="b_5">5</li>
                </ul>
                <div class="plus"></div>
                <div class="minus"></div>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:-50px;">
            <div class="row" style="height:350px;">
                @foreach (MyPets.Model.Baike a in ViewData["dog"] as List<MyPets.Model.Baike>)
                {
                <table class="col-md-6" style="height:100px;margin-bottom:20px;">
                    <tr>
                        <td><img src="@Url.Content(a.BaikeImg)" style="width:150px;height:100px;" alt="img" /></td>
                        <td>@Html.ActionLink(@a.BaikeTitle, "Show", new { id = a.BaikeId })</td>
                    </tr>
                </table>
                }
            </div>
        </div>
        <div class="col-md-2">
            @foreach (MyPets.Model.Baike a in ViewData["dogtitle"] as List<MyPets.Model.Baike>)
            {
            <div class="col-sm-12" style="height:58px;line-height:58px;color:#808080; font: 20px Microsoft YaHei;margin-left:50px;">@Html.ActionLink(@a.BaikeTitle, "Show", new { id = a.BaikeId })</div>
            }
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="dog_tit col-md-10">
            <h2>小宠百科</h2>
            <div class="dog_tit_r">
                <a href="#" target="_blank">小宠饲养</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank">小宠训练</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank">小宠医疗</a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>  @*小宠爬虫水族百科*@
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div id="slide_x3" class="slide_x2">
                <div class="box">
                    <ul class="list">
                        <li style="margin-right:-40px;">
                            <a href="#"><img src="~/Content/Baike/img/upload/slideimg/otherslide1.jpg" width="300" height="350" style="margin-left:-40px;"></a>
                            <p style="margin-left:-40px;">
                                <strong>酶与益生菌对于狗狗有何作用</strong><br />
                                其实狗狗身体本身就会存在各式各样的酶，来帮助机体消化以及吸收营养。不过随着某些食物摄入量地减少，某些酶的活性就会变得越来...[<a href="#" target="_blank">详细</a>]
                            </p>
                        </li>
                        <li>
                            <a href="#"><img src="~/Content/Baike/img/upload/slideimg/otherslide2.jpg" width="300" height="350"></a>
                            <p>
                                <stong>犬体外寄生虫会诱发出哪些疾病</stong><br />
                                为狗狗做好驱虫工作不只是为了防止某些寄生虫对我们的健康造成影响，更主要的是因为寄生虫对于狗狗的危害来的更大，而且寄生虫不...[<a href="#" target="_blank">详细</a>]
                            </p>
                        </li>
                        <li>
                            <a href="#"><img src="~/Content/Baike/img/upload/slideimg/otherslide3.jpg" width="300" height="350"></a>
                            <p>
                                <strong>维生素过量对狗狗有何危害</strong><br />
                                维生素是维持狗狗生长发育以及正常生理的必要物质，合理地为狗狗补充维生素能够有效地增强狗狗的抵抗力，并在一定程度上防止狗狗...[<a href="#" target="_blank">详细</a>]
                            </p>
                        </li>
                        <li><a href="#"><img src="~/Content/Baike/img/upload/slideimg/otherslide4.jpg" width="300" height="350"></a><p>站长素材4</p></li>
                        <li><a href="#"><img src="~/Content/Baike/img/upload/slideimg/otherslide5.jpg" width="300" height="350"></a><p>站长素材5</p></li>
                    </ul>
                </div>
                <ul class="btn">
                    <li class="b_1 selected">1</li>
                    <li class="b_2">2</li>
                    <li class="b_3">3</li>
                    <li class="b_4">4</li>
                    <li class="b_5">5</li>
                </ul>
                <div class="plus"></div>
                <div class="minus"></div>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:-50px;">
            <div class="row" style="height:350px;">
                @foreach (MyPets.Model.Baike a in ViewData["dog"] as List<MyPets.Model.Baike>)
                {
                <table class="col-md-6" style="height:100px;margin-bottom:20px;">
                    <tr>
                        <td><img src="@Url.Content(a.BaikeImg)" style="width:150px;height:100px;" alt="img" /></td>
                        <td>@Html.ActionLink(@a.BaikeTitle, "Show", new { id = a.BaikeId })</td>
                    </tr>
                </table>
                }
            </div>
        </div>
        <div class="col-md-2">
            @foreach (MyPets.Model.Baike a in ViewData["dogtitle"] as List<MyPets.Model.Baike>)
            {
            <div class="col-sm-12" style="height:58px;line-height:58px;color:#808080; font: 20px Microsoft YaHei;margin-left:50px;">@Html.ActionLink(@a.BaikeTitle, "Show", new { id = a.BaikeId })</div>
            }
        </div>
        <div class="col-md-1"></div>
    </div>
    <p style="text-align:center;color:#cec3c3;margin-top:20px;">用关爱与呵护谱写的养宠百科，全面的养宠知识满足所需，专业的宠物医生在线解答，为爱宠健康生活保驾护航。宠物之家——全面关爱宠物生活！</p>
    <hr />
    <div class="footer" style="background-color:#f2e7e7;">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-1"></div>
            <div class="col-md-11"><h3>友情链接</h3></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div style="margin-right:20px;display:inline-block;width:50px;">金毛犬</div>
                <div style="margin-right:20px;display:inline-block;width:50px;">泰迪熊</div>
                <div style="margin-right:20px;display:inline-block;width:50px;">哈士奇</div>
                <div style="margin-right:20px;display:inline-block;width:140px;">七夕送什么礼物好</div>
                <div style="margin-right:20px;display:inline-block;width:60px;">家居图片</div>
                <div style="margin-right:20px;display:inline-block;width:60px;">爱问宠物</div>
                <div style="margin-right:20px;display:inline-block;width:100px;">玛莎拉蒂手表</div>
                <div style="margin-right:20px;display:inline-block;width:60px;">浪琴手表</div>
                <div style="margin-right:20px;display:inline-block;width:50px;">宠物猫</div>
                <div style="margin-right:20px;display:inline-block;width:70px;">长沙宠物网</div>
                <div style="margin-right:20px;display:inline-block;width:60px;">南昌企业</div>
                <div style="margin-right:20px;display:inline-block;width:50px;">巴巴</div>
                <div style="margin-right:20px;display:inline-block;width:70px;">边境牧羊犬</div><br /><br />
                <div style="margin-right:20px;display:inline-block;width:60px;">东营房产</div>
                <div style="margin-right:20px;display:inline-block;width:50px;">返程票</div>
                <div style="margin-right:20px;display:inline-block;width:70px;">阳光狗狗网</div>
                <div style="margin-right:20px;display:inline-block;width:60px;">波奇商城</div>
            </div>
            <div class="col-md-1"></div>
         </div>
        <hr style="background:#000000;color:#000000;" />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="text-align:center;">
                <div style="display:inline-block;width:95px;font-size:22px;"><p>关于网站</p></div>|
                <div style="display:inline-block;width:95px;font-size:22px;"><p>友情链接</p></div>|
                <div style="display:inline-block;width:95px;font-size:22px;"><p>诚聘英才</p></div>|
                <div style="display:inline-block;width:95px;font-size:22px;"><p>联系我们</p></div>|
                <div style="display:inline-block;width:95px;font-size:22px;"><p>网站地图</p></div>|
                <div style="display:inline-block;width:95px;font-size:22px;"><p>意见反馈</p></div>|
                <div style="display:inline-block;width:95px;font-size:22px;"><p>帮助中心</p></div>|
                <div style="display:inline-block;width:95px;font-size:22px;"><p>最新文章</p></div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11"></div>
        </div>
    </div>

    <script src="~/Content/Admin/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Baike/js/slides.js"></script>
    <script src="~/Content/Baike/js/jquery.cxslide.min.js"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
        $(".slide_x").cxSlide({ plus: true, minus: true });
        $(".slide_x1").cxSlide({ plus: true, minus: true });
        $(".slide_x2").cxSlide({ plus: true, minus: true });
    </script>
</body>
</html>
