@*@model IEnumerable<MyPets.Model.BaikeAnswer>*@
@{
    ViewBag.Title = "问题详情";
    Layout = "~/Views/Shared/_LayoutBaike.cshtml";
}
@section Add{
    <link href="~/Content/Baike/css/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function divclick(obj) {
            var className = $(obj).attr('class');
            $(obj).next("#dialogBg").fadeIn(300);
            $(obj).next().next('#dialog').removeAttr('class').addClass('animated ' + className + '').fadeIn();
            $('.claseDialogBtn').click(function () {
                $(obj).next('#dialogBg').fadeOut(300, function () {
                    $(obj).next().next('#dialog').addClass('bounceOutUp').fadeOut();
                });
            });
        }
        function ShowPage(obj) {
            var type = $(obj).next(".responseanwer")
            if (type.css("display") == "none") {
                type.show();
            }
            else type.css("display", "none");
        }

        //$(function () {   //原先代码
        //    $('.box a').click(function () {
        //        var className = $(this).attr('class');
        //        $('#dialogBg').fadeIn(300);
        //        $('#dialog').removeAttr('class').addClass('animated ' + className + '').fadeIn();
        //    });

        //    //关闭弹窗
        //    $('.claseDialogBtn').click(function () {
        //        $('#dialogBg').fadeOut(300, function () {
        //            $('#dialog').addClass('bounceOutUp').fadeOut();
        //        });
        //    });
        //});
    </script>

}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">@Html.ActionLink("首页", "Index")>@Html.ActionLink("问答专区", "Answer")>问题详情</div>
    <hr />
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h2>@ViewBag.head</h2>
        <hr style="border-color:#cac4c4;" />
        <p>@Html.Raw(@ViewBag.desc)</p>
        <p><a href="javascript:;" style="color:#00ff21;">@ViewBag.username</a> 提问于| @ViewBag.time</p>
    </div>
    <div class="col-md-3">
        <h1>最佳回复</h1>
        <hr />
        @foreach (MyPets.Model.BaikeAnswer a in ViewData["goodsanswer"] as List<MyPets.Model.BaikeAnswer>)
        {
            <p>@Html.DisplayFor(item => a.AnswerContent)</p>
        }
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h2>@ViewBag.num 个回答 </h2>
        <hr style="border-color:#cac4c4;" />
        <div id="ShowAnswer">
            @foreach (MyPets.Model.BaikeAnswer b in ViewData["answer"] as List<MyPets.Model.BaikeAnswer>)
            {
                <div class="row">
                    <div class="col-md-1">
                        <img src="@Url.Content(b.UserInfo.UserImg)" style="width:50px;height:50px;" />
                    </div>
                    <div class="col-md-11" style="margin-bottom:20px;">
                        <div class="row">
                            <div class="col-md-10">
                                <div><a href="javascript:;" style="color:#2be90e;"> @Html.DisplayFor(item => b.UserInfo.UserName)</a> | @Html.DisplayFor(item => b.AnswerTime)</div>
                                <p>@Html.Raw(b.AnswerContent)</p>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                        <div style="text-align:right;margin-right:-130px; font-size:8px;color:#cac4c4;" onclick="ShowPage(this)">查看全部回复</div>
                                        <div class="responseanwer">
                                            @foreach (MyPets.Model.ResponAnswer a in b.ResponAnswer.Where(item => item.AnswerId == @b.AnswerId).ToList())
                                            {
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-2" style="margin-left:-100px;"><img src="~/Content/Baike/img/user.jpg" style="width:50px;height:50px;"/></div>
                                                    <div class="col-md-9" style="margin-left:-25px;border-bottom:1px #cac4c4 groove;">
                                                        <a href="javascript:;"> @Html.DisplayFor(item => a.UserName)</a> @Html.Raw("@")@b.UserInfo.UserName | @Html.DisplayFor(item => a.ResponTime)
                                                        <p>@Html.Raw(a.ResponContent)</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="width:50px;display:inline-block;">
                                    <a href="javascript:;" id="@b.AnswerId" onclick="ClickGood(this.id)" style="color:#000000;">
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">@b.ClickNum</span>
                                    </a>
                                </div>
                                <div class="box" style="display:inline-block">
                                    <a href="javascript:;" class="bounceIn" style="color:#000000;" onclick="divclick(this)"><span class="glyphicon glyphicon-edit">回复</span></a>
                                    <div id="dialogBg"></div>
                                    <div id="dialog" class="animated">
                                        <img class="dialogIco" width="50" height="50" src="~/Content/Baike/img/ico.png" alt="" />
                                        <div class="dialogTop">
                                            <a href="javascript:;" class="claseDialogBtn">关闭</a>
                                        </div>
                                        <form action="/Baike/ResponAnswer" method="post" id="editForm">
                                            <strong>回复 @Html.Raw("@")@b.UserInfo.UserName</strong>
                                            @Html.Hidden("answerid", @b.AnswerId)
                                            <textarea class="form-control" rows="6" name="txtarea" placeholder="输入回复内容..."></textarea>
                                            <input type="submit" value="确认提交" class="btn btn-sm btn-info" style="float:right;margin-top:5px;margin-right:5px;" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        @if (Session["UserName"] != null)
        {
            using (Html.BeginForm())
            {
                <hr style="border-color:#808080;" />
                <p>回复</p>
                <article class="zzsc">
                    <div class="container">
                        <div class="jumbotron" style="padding:10px;width:840px;">
                            <textarea class="textarea" id="AreaDescribe" name="AreaDescribe" placeholder="输入问题描述..." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px;"></textarea>
                        </div>
                    </div>
                </article>
                <input type="submit" class="btn btn-info" value="我来回答" style="float:right;margin-top:-30px;">
            }
        }
        else
        {
            <p>请 <a href="@Url.Action("Login","Register")">登录</a> 发表评论</p>
        }
    </div>
    <div class="col-md-4">
    </div>
</div>
<script type="text/javascript">
    function ClickGood(id) {
        var clickid = document.getElementById(id);
        var firstchildnode = clickid.children[0].innerHTML;
        var num = parseInt(firstchildnode);
        var nownum = num + 1;
        $.ajax({
            type: "POST",
            url: "/Baike/ClickGood",
            data: { "id": id },
            dataType: "text",
            cache: false,
            success: function (data) {
                if (data) {
                    clickid.children[0].innerHTML = nownum.toString();
                }
                else {
                    alert("点赞失败！");
                }

            }

        })
    }


</script>
