@using PagedList
@using PagedList.Mvc
@model IPagedList<MyPets.Model.Baike>

@{
    ViewBag.Title = "百科管理";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>百科管理</h2>

<p>
    @Html.ActionLink("发布百科", "Baike")
</p>
<table class="table">
    <tr>
        <th style="width:85px;">
            百科类别
        </th>
        <th style="width:85px;">
            百科标题
        </th>
        <th>
            百科描述
        </th>
        <th>
            发布时间
        </th>
        <th style="width:60px;text-align:center;">
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaikeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaikeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaikeDescribe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaikeTime)
            </td>
            <td>
                @Html.ActionLink("编辑", "EditBaike", new { id = item.BaikeId }) <br />
                @Html.ActionLink("详细", "DetailsBaike", new { id = item.BaikeId }) <br />
                @Html.ActionLink("删除", "DeleteBaike", new { id = item.BaikeId }, new { onclick = "return confirm('确认删除吗？')" })
            </td>
        </tr>
    }

</table>
<div style="text-align:center;"> @Html.PagedListPager(Model, page => Url.Action("BaikeManagement", "Admin", new { page, txttype = @ViewData["type"] }), new PagedListRenderOptions { LinkToFirstPageFormat = "首页", LinkToPreviousPageFormat = "上一页", LinkToNextPageFormat = "下一页", LinkToLastPageFormat = "尾页", MaximumPageNumbersToDisplay = 5 })</div>


