@model MyPets.Model.Post

@{
    ViewBag.Title = "帖子详细";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>帖子详细</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="width:1000px;">
        <dt>
            帖子类型
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostType)
        </dd>
        <dt>
            发帖时间
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>

        <dt>
            发帖人
        </dt>

        <dd>
            @Model.UserInfo.UserName
        </dd>

        <dt>
            是否精选
        </dt>

        <dd>
            @if (Model.IsChoose)
            {
                @:是
            }
            else
            {
                @:否
            }
        </dd>
        <dt>
            是否置顶
        </dt>
        <dd>
            @if (Model.IsTop)
            {
                @:是
            }
            else
            {
                @:否
            }
        </dd>
        <dt>
            帖子内容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>
    </dl>
    <h2>帖子评论</h2>
    @foreach (MyPets.Model.Response r in Model.Response.Where(R => R.PostId == Model.PostId).ToList())
    {
        <dl class="dl-horizontal">
            <dt>
                @r.ResponseContent
            </dt>
            <dd>
                @Html.ActionLink("删除", "DeletePostReply", new { id = r.ResponseId }, new { onclick = "return confirm('确定要删除吗？')" })
            </dd>
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "PostManagement")
</p>
