@model MyPets.Model.Baike

@{
    ViewBag.Title = "编辑百科";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Head{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>
    <script src="~/ckfinder/config.js"></script>
    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace('Bcontent', {
                height: '850px'
            });

        });
    </script>
}
<h2>编辑百科</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BaikeId)

        <div class="form-group">
            @Html.Label("所属系列", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaikeSeries, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.BaikeSeries, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("百科类别", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaikeType, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.BaikeType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("标题", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaikeTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaikeTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("描述", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaikeDescribe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaikeDescribe, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("发布时间", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaikeTime, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.BaikeTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <textarea id="Bcontent" name="Bcontent" value="@Html.Raw(Model.BaikeContent)"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "BaikeManagement")
</div>
