@{
    ViewBag.Title = "Entry";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/Admin/css/styles.css" rel="stylesheet" />
<section id="example-yellow" class="example-box green">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 visible-md-block visible-lg-block">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入口  1: 用户</h2>
                <div class="case-item">
                    <div class="ih-item circle effect1">
                        <a href="@Url.Action("UserManagement")">
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Admin/images/1.jpg" alt="学习LOS" height=200 width=200></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>用户管理</h3>
                                    <p>宠物之家用户管理</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入口  2: 商家</h2>
                <div class="case-item">
                    <div class="ih-item circle effect1">
                        <a href="@Url.Action("ShopManagement")">
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Admin/images/2.jpg" alt="学习LOS" height=200 width=200></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>商家管理</h3>
                                    <p>宠物之家用户管理</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入口  3: 商品</h2>
                <div class="case-item">
                    <div class="ih-item circle effect1">
                        <a href="@Url.Action("GoodsEntry")">
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Admin/images/3.jpg" alt="学习LOS" height=200 width=200></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>商品管理</h3>
                                    <p>宠物之家用户管理</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入口  4: 广告</h2>
                <div class="case-item">
                    <div class="ih-item circle effect1">
                        <a href="@Url.Action("AdManagement")">
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Admin/images/4.jpg" alt="学习LOS" height=200 width=200></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>店铺推荐</h3>
                                    <p>宠物之家店铺推荐</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入口  5: 百科</h2>
                <div class="case-item">
                    <div class="ih-item circle effect1">
                        <a href="@Url.Action("BaikeManagement")">
                            <div class="spinner"></div>
                            <div class="img"><img src="~/Content/Admin/images/5.jpg" alt="学习LOS" height=200 width=200></div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>百科管理</h3>
                                    <p>宠物之家百科管理</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
            </div>
        </div>
    </div>
</section>


