@model IEnumerable<MyPets.Model.UserInfo>

@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>用户管理</h2>
<br />
<table class="table table-hover" id="tbuser">
    <tr>
        <th>
           编号
        </th>
        <th>
            手机号
        </th>
        <th>
           邮箱
        </th>
        <th>
           用户名
        </th>
        <th>
            密码
        </th>
        <th>
            是否商家
        </th>
        <th>
            等级
        </th>
        <th>
            积分
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            ********
        </td>
        <td>
            @if (item.IsSeller)
            {
                <div>是</div>
            }
            else
            {
                <div>否</div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            <a href="@Url.Action("DeleteUser")" id="@item.UserId" onclick="DeleteLog(this.id)">删除</a>|
            @Html.ActionLink("Delete", "DeleteUser", new {  id=item.UserId })
        </td>
    </tr>
}
</table>
<script>
    function DeleteLog(id){
        if(confirm("确定要删除吗？")){
            $.ajax({
                type: "GET",
                url: "/Admin/DeleteUser",
                data: { "id": id },
                dataType: "text",
                cache: false,
                success: function (data) {
                    if (data == true)
                    {
                        $("#tbuser tr").each(function () {
                            var a = $(this).children();
                            if (a.eq(0).text() == id)
                            {
                                a.remove();
                                alert("删除成功！");
                            }
                        });
                    }
                    else {
                        alert("删除失败！");
                    }
                }

            })
        }
    }
</script>