@model IEnumerable<MyPets.Model.ShopCart>
@{
    ViewBag.Title = "jiesuan";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section jiesuan{
    <script src="~/Content/Home/js/area.js"></script>
    <link href="~/Content/Home/css/style.css" rel="stylesheet" />
    <script src="~/Content/Home/css/demo.js"></script>
    <script src="~/Content/Home/js/js.js"></script>
}
@using (Html.BeginForm("PayGoods", "Home", FormMethod.Post))
{
    <div style="position:absolute;left:345px;margin-top:-65px;">
        @*<div class="info">
                <div>
                    您的地址：
                    <select id="s_province" name="s_province"></select>&nbsp;&nbsp;
                    <select id="s_city" name="s_city"></select>&nbsp;&nbsp;
                    <select id="s_county" name="s_county"></select>
                    <script type="text/javascript">_init_area();</script>
                </div>
                <div id="show"></div>
                <script type="text/javascript">
                    var Gid = document.getElementById;
                    var showArea = function ()
                    {
                        Gid('show').innerHTML = "<h3>省" + Gid('s_province').value +
                            " - 市" + Gid('s_city').value +
                            " - 县/区" + Gid('s_county').value + "</h3>"
                    }
                    Gid('s_county').setAttribute('onchange', 'showArea()');
                </script>
            </div>*@
        <div style="margin-top:28px;position:absolute;">
            @*<input style="width:500px;" id="Text1" type="text" name="address " placeholder="请输入你的详细地址" />*@
            <input style="width:800px;height:50px;line-height:50px;" id="Text1" type="text" name="content" placeholder="请输入你的详细地址" />
        </div>    
    </div>
    <div style="position:absolute;left:1200px;margin-top:-45px;">
        <a href="@Url.Action("Index")">继续购物》</a>
    </div>
    <div class="catbox">
        <table id="cartTable">
            <thead>
                <tr>
                    <th style="text-align:center">
                        <label>
                            <input class="check-all check" type="checkbox" />&nbsp;&nbsp;全选
                        </label>
                    </th>
                    <th style="text-align:center">商品</th>
                    <th style="text-align:center">单价</th>
                    <th style="text-align:center">数量</th>
                    <th style="text-align:center">小计</th>
                    <th style="text-align:center">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td style="width:60px;">
                            <input class="check-one check" type="checkbox" />
                        </td>
                        <td class="goods">
                            <img src="@Url.Content(@b.Goods.GoodsImg1)" style="width:60px;height:65px;" />
                            <span style="margin-top:-4px;">@(b.Goods.GoodsName)</span>
                        </td>
                        <td class="price">
                            @if (b.Goods.IsDiscount)
                            {
                                @b.Goods.DiscountPrice
                            }
                            else
                            {
                                @b.Goods.GoodsPrice
                            }
                        </td>
                        <td class="count">
                            <span class="reduce">-</span>
                            <input class="input" type="text" value="@b.GoodsSum" name="goodssum" style="width:35px;text-align:center;" />
                            <span class="add">+</span>
                        </td>
                        <td class="subtotal">
                            @if (b.Goods.IsDiscount)
                            {
                                @b.Goods.DiscountPrice
                            }
                            else
                            {
                                @b.Goods.GoodsPrice
                            }
                        </td>
                        <td class="operation">
                            <span class="delete">@Html.ActionLink("删除", "Delect", new { id = b.GoodsId }, new { onclick = "return confirm('确认删除吗')" }) </span>
                        </td>
                    </tr>
                    @Html.Hidden("goodsid", b.GoodsId)
                    @Html.Hidden("checkbox2", "", new { @class = "checkbox2" })
                }
            </tbody>
        </table>
        <div class="foot" id="foot">
            <label class="fl select-all"><input type="checkbox" class="check-all check" />&nbsp;&nbsp;全选</label>
            <a class="fl delete" id="deleteAll" href="javascript:;">
                @Html.ActionLink("删除", "ClearCart", new { name = Session["UserName"].ToString() }, new { onclick = "return confirm('确定要清空购物车吗？')" })
            </a>
            <div class="fr closing"><input type="submit" value="结 算" class="btn btn-danger" id="subbtn" /></div>
            <input type="hidden" id="cartTotalPrice" />
            <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
            <input type="hidden" id="TotalPrice" name="TotalPrice" value="" />
            <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
            <div class="selected-view">
                <div id="selectedViewList" class="clearfix">
                    <div><img src="images/1.jpg"><span>取消选择</span></div>
                </div>
                <span class="arrow">◆<span>◆</span></span>
            </div>
        </div>
    </div>
}

