
@{
    ViewBag.Title = "jiesuan";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model IEnumerable<MyPets.Model.ShopCart>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/Home/css/demo.js"></script>
    <link href="~/Content/Home/js/style.css" rel="stylesheet" />
</head>
<body>
    @*  @using (Html.BeginForm("PayGoods", "Home", FormMethod.Post))
        {
            <div class="content_box">
                <div class="imfor_top">
                    <div class="check_top">
                        <input type="checkbox" id="all" />全选
                    </div>
                    <div class="pudc_top">商品</div>
                    <div class="pices_top">单价</div>
                    <div class="num_top">数量</div>
                    <div class="totle_top">小计</div>
                    <div class="del_top">操作</div>
                </div>
                @foreach(var b in Model)
                {
                    <div class="imfor">
                        <div class="check">
                            <input type="checkbox" class="Each" />
                        </div>
                        <div class="pudc">
                            <div class="tupian">
                                <a href="@Url.Action("Shangpin")">
                                    <img src="@Url.Content(@b.Goods.GoodsImg1)" style="width:50px;height:50px;" />
                                </a>
                            </div>
                        </div>
                        <div class="name">
                            <a href="" class="na">@(b.Goods.GoodsName)</a>
                        </div>
                        <div class="pices">@(b.Goods.GoodsPrice)</div>
                        <div class="num">
                            <input class="reduc" type="button" value="-" />
                            <input type="text" value="@b.GoodsSum" class="multil" name="goodssum" />
                            <input class="add" type="button" value="+" />
                        </div>
                        @Html.Hidden("goodsid",b.GoodsId)
                        <div class="totle">@(b.Goods.GoodsPrice)</div>
                        <div class="del">
                            <a>@Html.ActionLink("删除", "Delect", new { id = b.GoodsId }, new { onclick = "return confirm('确认删除吗？')" })
        </a>
                        </div>
                    </div>

                }
            </div>
            <div class="foot">
                <div class="foot_d">清空购物车</div>
                <div class="foot_del">删除选中商品</div>

                <div class="foot_cash">
                    <input type="submit" value="去结算" class="btn btn-danger" id="btnjiesuan" />@*jiesuan
        @*</div>
                                <div class="foot_tol">
                                    <span>合计：￥</span><span id="susum" name="susum">0</span>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        var num = $("#susum").text();
                        var num1 = parseInt(num);
                        if (num1 == 0) {
                            $("#btnjiesuan").attr('disabled', true);
                      <script src="~/Content/Home/js/js.js"></script>
                        }
                        else {
                            $("#btnjiesuan").attr('disabled', false);
                        }
                    });
                </script>*@
    <div class="catbox">
        <table id="cartTable">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input class="check-all check" type="checkbox" />&nbsp;&nbsp;全选
                        </label>
                    </th>
                    <th>商品</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>
                            <input class="check-one check" type="checkbox" />
                        </td>
                        <td class="goods">
                            <img src="@Url.Content(@b.Goods.GoodsImg1)" />
                            <span>@(b.Goods.GoodsName)</span>
                        </td>
                        <td class="price">@(b.Goods.GoodsPrice)</td>
                        <td class="count">
                            <span class="reduce">-</span>
                            <input class="input" type="text" value="1" />
                            <span class="add">+</span>
                        </td>
                        <td class="subtotal">@(b.Goods.GoodsPrice)</td>
                        <td class="operation"><span class="delete">删除</span></td>
                        
                </tr>
                }
                </tbody>
                </table>
                <div class="foot" id="foot">
                    <label class="fl select-all"><input type="checkbox" class="check-all check" />&nbsp;&nbsp;全选</label>
                    <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
                    <div class="fr closing" onclick="getTotal();">结 算</div>
                    <input type="hidden" id="cartTotalPrice" />
                    <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
                    <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
                    <div class="selected-view">
                        <div id="selectedViewList" class="clearfix">
                            <div><img src="images/1.jpg"><span>取消选择</span></div>
                        </div>
                        <span class="arrow">◆<span>◆</span></span>
                    </div>
                </div>
                </div>

            </body>
</html>
