
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MyPets.Model.Goods>
@{
    ViewBag.Title = "searchGoods";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@section jiesuan{<link href="~/Content/Home/css/searchGoods.css" rel="stylesheet" />}


<div id="Container">
    <p style="margin-top:10px;">找到相关商品(<span style="color:RGB(255,101,0);">@ViewBag.num</span>)件</p>
    @foreach (var g in Model)
    {
        <div class="product">
            <div class="tupian">
                <a href="@Url.Action("goumai",new { id=g.GoodsId})">
                    <img src="@Url.Content(g.GoodsImg1)" style="width: 150px; height: 170px" />
                </a>
            </div>
            <div class="jiage"><span style="color:red;font-size:20px;">￥@Html.DisplayFor(a => g.GoodsPrice)</span></div>
            <div class="name">
                <a href="">@Html.DisplayFor(a => g.GoodsName)</a>
            </div>
            <div style="height: 15px">
                <div class="yishou">已售：@Html.DisplayFor(s => g.SellNum)</div>
                <div class="pingjia">已有：<a href="">@Html.DisplayFor(s => g.SellNum)</a>人评价</div>
            </div>
            <div class="gouwu">
                <a href="@Url.Action("AddToCart",new { id=@g.GoodsId})">
                    <input type="button" value="加入购物车" class="goumai" />
                </a>
            </div>
        </div>
    }
    <div style="text-align:center;"> @Html.PagedListPager(Model, page => Url.Action("SearchGoods", "Home", new { page, searchInput = @ViewData["searchInput"] }), new PagedListRenderOptions { LinkToFirstPageFormat = "首页", LinkToPreviousPageFormat = "上一页", LinkToNextPageFormat = "下一页", LinkToLastPageFormat = "尾页", MaximumPageNumbersToDisplay = 5 })</div>
</div>