<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Home/css/LayoutHome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Home/js/index.js"></script>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    @RenderSection("jiesuan", false)
</head>
<body>
    <div>
        <div id="index_top">
            <div class="content">
                <div class="favorite">收藏宠物之家</div>
                <ul class="index_topRight">
                    @if (Session["UserName"] == null)
                    {
                        <li>
                            <a href="@Url.Action("Login","Register")" id="registerState">登录</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register", "Register")">注册</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="dropdown">
                                <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <a href="javascript:;" style="color:#9C3;">@Session["UserName"]</a>
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="@Url.Action("Index","PersonalCenter",new { user=Session["UserName"]})">个人中心</a></li>
                                    <li><a href="@Url.Action("LoginOff")">退出登录</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    <li>
                        <a href="">手机版</a>
                    </li>
                    <li>
                        <a href="">关注宠物之家</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">首页</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--首页顶部结束-->
        <!--搜索框部分-->
        @*<div id="search">
            <img src="~/Content/Shop/img/logo.png" style="width:240px;height:100px;" />
            <div class="search_mid">
                <input type="text" name="" id="searchTxtBox" value="" placeholder="狗粮" />
                <input type="button" name="searchBtn" id="searchBtn" value="搜索" />
            </div>
        </div>*@
        <div id="search">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <img src="~/Content/Shop/img/logo.png" style="width:240px;height:100px;" />
                <div class="searchType">
                    <ul>
                        <li class="beSelected" style="background:RGB(238,85,51);color:RGB(255,255,255);" name="Goods" id="Goods">商品</li>
                        <li name="Shop" id="Shop">店铺</li>
                    </ul>
                </div>
                <div class="search_mid">
                    @Html.Hidden("typeNum", "1")
                    <input type="text" name="searchInput" id="searchTxtBox" value="" placeholder="狗粮" />
                    <input type="submit" name="searchBtn" id="searchBtn" value="搜索" />
                </div>
            }
        </div>

        <!--搜索框部分结束-->
        <!--导航栏部分-->
        <div id="navigation_bar">
            <div class="vital_part">
                <a href="" class="all_type">全部商品分类</a>
                <a href="@Url.Action("jiesuan")" class="shopping_cart">购物车</a>
                <div class="navigation">
                    <a href="@Url.Action("Index","Home")">首页</a>
                    <a href="@Url.Action("Shangpin",new { keyword="狗粮",type="狗"})">狗狗</a>
                    <a href="@Url.Action("Shangpin",new { keyword="猫",type="猫"})">猫猫</a>
                    <a href="">小宠</a>
                    <a href="">水族</a>
                    <a href="">百科</a>
                    <a href="">论坛</a>
                    <a href="">品牌馆</a>
                    <a href="">在线服务</a>
                </div>

            </div>
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
