<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->

    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/Admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Store/css/owl.carousel.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/Store/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Store/css/style.css" rel="stylesheet" />
    <link href="~/Content/Store/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li>
                                @if (Session["UserName"] == null)
                                {
                                    <a href="@Url.Action("Login","Register")"><i class="fa fa-user"></i>登录账号</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index","PersonalCenter",new {user=Session["UserName"].ToString()})"><i class="fa fa-user"></i>个人中心</a>
                                }
                            </li>
                            <li>
                                @if (Session["UserName"] == null)
                                {
                                    <a href="@Url.Action("CollectStore")"><i class="fa fa-heart"></i> 收藏店铺</a>
                                }
                                else
                                {
                                    if (Session["hascollect"].ToString() == "no")
                                    {
                                        <a href="@Url.Action("CollectStore")"><i class="fa fa-heart"></i> 收藏店铺</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("CancleCollect")"><i class="fa fa-heart" style="color:#ff0000;"></i> 取消收藏</a>
                                    }
                                }
                            </li>
                            <li><a href="cart.html"><i class="fa fa-user"></i> 我的购物车</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    @using (Html.BeginForm("SearchShopGoods", "Store", FormMethod.Post))
                    {
                        <div class="header-right">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchthing" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">搜索</button>
                                </span>
                            </div>
                        </div>
                    }
                    @*<div class="header-right">
                               <ul class="list-unstyled list-inline"></ul>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./">馨馨爱宠</a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">

                        @if (Session["UserName"] != null)
                        { 
                            Html.RenderAction("PartialCart");
                            @*<a href="cart.html">Cart - <span class="cart-amunt">$@ViewBag.sum</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@ViewBag.count</span></a>*@
                        }
                        else
                        {
                            <a href="javascript:;">Cart - <span class="cart-amunt">$0</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index")">首页</a></li>
                        <li><a href="@Url.Action("Index")">店铺页面</a></li>
                        <li><a href="javascript:;">商品页面</a></li>
                        <li><a href="@Url.Action("jiesuan","Home")">购物车</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/Store/js/owl.carousel.min.js"></script>
    <script src="~/Content/Store/js/jquery.sticky.js"></script>
    <script src="~/Content/Store/js/jquery.easing.1.3.min.js"></script>
    <script src="~/Content/Store/js/main.js"></script>
</body>
</html>
