<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Shop/css/basic.css" rel="stylesheet" />

    <link href="~/Content/Shop/css/custom.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    @RenderSection("Head",false)

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">我的店铺</a>
            </div>
            <div class="header-right">
                <a href="@Url.Action("Message",new { user=Session["UserName"]})" class="btn btn-info" title="留言"><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href="@Url.Action("Order",new { user=Session["UserName"]})" class="btn btn-primary" title="订单"><i class="fa fa-bars fa-2x"></i></a>
                <a href="@Url.Action("LoginOff")" class="btn btn-danger" title="退出"><i class="fa fa-exclamation-circle fa-2x"></i></a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="~/Content/Shop/img/backgrounds/1.jpg" class="img-thumbnail" />
                            <div class="inner-text">
                                ShopKeeper
                                <br />
                                <small>ShopKeeper Name</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>我的货架<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("GoodsType",new {type="狗狗商品" })"><i class="fa fa-toggle-on"></i>狗狗商品</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GoodsType",new {type="猫猫商品" })"><i class="fa fa-bell "></i>猫猫商品</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GoodsType",new {type="奇趣小宠" })"><i class="fa fa-circle-o "></i>奇趣小宠</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GoodsType",new {type="水族市场" })"><i class="fa fa-code "></i>水族市场</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GoodsType",new {type="爬虫用品" })"><i class="fa fa-bug "></i>爬虫用品</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>发布商品<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("UpGoods")"><i class="fa fa-send "></i>普通商品</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-recycle "></i>促销商品</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>用户留言</a>

                    </li>
                    <li>
                        <a href="#"><i class="fa fa-anchor"></i>用户订单</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sign-in "></i>商品评论</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap "></i>待定<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank.html"><i class="fa fa-square-o "></i>返回首页</a>
                    </li>
                </ul>

            </div>

        </nav>
        <div id="page-wrapper">
            <div id="page-inner">
               @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer-sec">
        &copy; 2017 YourCompany | More Templates <a href="#" target="_blank" title="宠物之家">宠物之家</a> - Collect from <a href="#" title="网页模板" target="_blank">江西师大</a>
    </div>
    <script src="~/Content/Admin/js/jquery-1.11.2.min.js"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/Shop/js/jquery.metisMenu.js"></script>
    <script src="~/Content/Shop/js/custom.js"></script>
</body>
</html>
