
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MyPets.Model.Post>
@*@model IEnumerable<MyPets.Model.Post>*@
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Tribune/css/index.css" rel="stylesheet" />
    <script src="~/Content/Tribune/js/index.js"></script>

    @*<script src="~/ckeditor/ckeditor.js"></script>
        <script src="~/ckfinder/ckfinder.js"></script>
        <script src="~/ckfinder/config.js"></script>
        <script>
            $(function(){

                CKEDITOR.replace('AreaDescribe');
            });
        </script>*@
</head>
<body>
    <!--首页顶部-->
    <div id="index_top">
        <div class="content">
            <div class="favorite">收藏宠物之家</div>
            <ul class="index_topRight">
                @if (Session["UserName"] == null)
                {
                    <li>
                        <a href="@Url.Action("Login","Register")" id="registerState">登录</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "Register")">注册</a>
                    </li>
                }
                else
                {
                    <li><a href="javascript:;" style="color:#9C3;">@Session["UserName"]</a></li>
                    <li><a href="@Url.Action("LoginOff")">退出登录</a></li>
                }
                <li>
                    <a href="">手机版</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Baike",new { user=Session["UserName"]})">宠物百科</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home",new { user=Session["UserName"]})">宠物商城</a>
                </li>
            </ul>
        </div>
    </div>
    <!--首页顶部结束-->
    <!--搜索框部分-->
    <div id="search">
        <img src="~/Content/Tribune/img/logo.png" />
        <div class="search_mid">
            <input type="text" name="" id="searchTxtBox" value="" />
            <input type="button" name="searchBtn" id="searchBtn" value="搜索" />
        </div>

    </div>

    <!--搜索框部分结束-->

    <div id="TribuneContent">
        <!--左边部分-->
        <div class="LeftPart">
            <!--小指南-->
            <div class="postingsGuide">推荐资讯【置顶】</div>
            <!--小指南-->
            @foreach (MyPets.Model.Post p in ViewData["topPostings"] as List<MyPets.Model.Post>)
            {
                <div class="postingsModel">
                    <div class="postingsContent">
                        <div class="UserPhotoContent">
                            <img class="userPhoto" src="@Url.Content(p.UserInfo.UserImg)" />
                        </div>
                        <div class="belongType">【@Html.DisplayFor(t => p.PostType)】</div>
                        <div class="postingsTitle"><a href="@Url.Action("Postings","Tribune",new { id=p.PostId })">@Html.DisplayFor(t => p.PostTitle)</a></div>
                        <div class="replyNum">@p.Response.Count()</div>
                        <div class="postingsDetail">
                            <span class="postingsWriter">@Html.DisplayFor(n => p.UserInfo.UserName)</span>&nbsp;于&nbsp;<span class="postingsTime">@Html.DisplayFor(t => p.PostTime)</span>&nbsp;发表
                        </div>
                    </div>
                </div>
            }

            <!--小指南-->
            <div class="postingsGuide">最新发布</div>
            <!--小指南-->
            @foreach (@*MyPets.Model.Post p in ViewData["newPostings"] as List<MyPets.Model.Post>*@var p in Model)
            {
                <div class="postingsModel">
                    <div class="postingsContent">
                        <div class="UserPhotoContent">
                            <img class="userPhoto" src="@Url.Content(p.UserInfo.UserImg)" />
                        </div>
                        <div class="belongType">【@Html.DisplayFor(t => p.PostType)】</div>
                        <div class="postingsTitle"><a href="@Url.Action("Postings","Tribune",new { id=p.PostId })">@Html.DisplayFor(t => p.PostTitle)</a></div>
                        <div class="replyNum">@p.Response.Count()</div>
                        <div class="postingsDetail">
                            <span class="postingsWriter">@Html.DisplayFor(n => p.UserInfo.UserName)</span>&nbsp;于&nbsp;<span class="postingsTime">@Html.DisplayFor(t => p.PostTime)</span>&nbsp;发表
                        </div>
                    </div>
                </div>
            }
            <div style="margin:0 auto;width:300px;text-align:center;float:none"> @Html.PagedListPager(Model, page => Url.Action("Index", "Tribune", new { page }), new PagedListRenderOptions { LinkToFirstPageFormat = "首页", LinkToPreviousPageFormat = "上一页", LinkToNextPageFormat = "下一页", LinkToLastPageFormat = "尾页", MaximumPageNumbersToDisplay = 5 })</div>

            @*-----------------------------------------帖子模板静态--------------------------------------*@
            @*<div class="postingsModel">
                    <div class="postingsContent">
                        <div class="UserPhotoContent">
                            <img class="userPhoto" src="~/Content/Tribune/img/userPhoto.jpg" />
                        </div>
                        <div class="belongType">【求助帖】</div>
                        <div class="postingsTitle"><a href="">家里的狗狗突然不吃食了，怎么回事</a></div>
                        <div class="replyNum">7845</div>
                        <div class="postingsDetail">
                            <span class="postingsWriter">古灵精怪</span>&nbsp;于&nbsp;<span class="postingsTime">2017-5-22</span>&nbsp;发表
                        </div>
                    </div>
                </div>*@
            @*-----------------------------------------帖子模板静态--------------------------------------*@

            <!--发帖框部分-->
            @if (Session["UserName"] == null)
            {
                <p>请 <a href="@Url.Action("Login","Register")">登录</a> 发表评论</p>
            }
            else
            {
                using (Html.BeginForm("Postings", "Tribune", FormMethod.Post))
                {
                    <div id="publishPart">
                        <div class="postTitleInputBox">帖子标题：<input id="txtPostTitle" type="text" name="postTitle" /></div>
                        <div class="postTypeBox">
                            <span>选择帖子类型：</span>
                            <select id="postType" name="postType">
                                <option>交流帖</option>
                                <option>分享帖</option>
                                <option>求助帖</option>
                                <option>专家帖</option>
                            </select>
                        </div>
                        <textarea class="textarea" id="AreaDescribe" name="AreaDescribe" placeholder="输入帖子内容..."></textarea>
                        <div class="submitBox"><input type="submit" value="确认" /><a href="@Url.Action("Index")"><input type="button" value="取消" /></a></div>
                    </div>
                }
            }

            @*<script src="~/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
                <script src="~/Content/Baike/js/bootstrap3-wysihtml5.all.min.js"></script>
                <script src="~/Content/Baike/js/bootstrap-wysihtml5.zh-CN.js"></script>
                <script>
                    $('.textarea').wysihtml5({ locale: "zh-CN" });
                </script>*@

            <!--发帖框部分结束-->


        </div>
        <!--左边部分结束-->
        <!--右边部分-->
        <div class="RightPart">
            <!--个人部分-->
            @if (Session["UserName"] != null)
            {
                <div class="Personal">
                    <!--头像-->
                    <div class="PersonalPhoto">
                        <img src="~/Content/Tribune/img/userPhoto.jpg" alt="" />
                    </div>
                    <!--昵称-->
                    <div class="userName">昵称：@Session["UserName"].ToString()</div>
                    <!--等级-->
                    <div class="userLevel">等级：Lv.10</div>
                    <!--帖子数-->
                    <div class="userPostCount">发帖数：@ViewBag.postingsNum</div>
                    <!--我要发帖-->
                    <a href="#txtPostTitle"><div class="publishPost">我要发帖</div></a>
                    <!--去往个人中心-->
                    <div class="PersonalCenter"><a href="@Url.Action("Index","PersonalCenter",new { user=Session["UserName"]})">个人中心</a></div>

                </div>
            <!--个人部分结束-->
            }






            <div class="postingsType">
                <table>
                    <tr>
                        <td colspan="2" style="font-size: 14px;font-weight: 700;background: RGB(151,151,151);border-radius: 5px 5px 0 0;">帖子分类</td>
                    </tr>
                    <tr>
                        <td class="typeBlock">问题求助</td>
                        <td class="typeBlock">故事分享</td>
                    </tr>
                    <tr>
                        <td class="typeBlock">动态交流</td>
                        <td class="typeBlock">专家建议</td>
                    </tr>
                </table>
            </div>
            <div class="finePostingsContent">
                <div class="finePoTop">精华帖</div>
                @foreach (MyPets.Model.Post p in ViewData["goodPostings"] as List<MyPets.Model.Post>)
                {
                    <div class="finePositings"><a href="@Url.Action("Postings","Tribune",new { id=p.PostId })"><span class="finePoTitle">@Html.DisplayFor(t => p.PostTitle)</span></a></div>
                }
            </div>
        </div>
        <!--右边部分结束-->

        <img id="toTop" src="~/Content/Tribune/img/toTop.png" alt="" />


    </div>

</body>
</html>
